* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62, 5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem .8rem rgba(0, 0, 0, .1);
}

header .logo {
    position: relative;
    max-width: 15em;
}

header .navbar a {
    font-size: 1.3rem;
    margin: 0 1.5em;
    color: #202020;
    position: relative;
}

header .navbar a::before {
    content: '';
    background-color: #202020;
    position: absolute;
    bottom: -.2em;
    left: 0;
    height: 2px;
    width: 0;
    border-radius: 50% 50% 50% 50%;
}

header .navbar a:hover::before {
    width: 100%;
    transition: width 0.3s ease-out;
}

header ul {
    list-style-type: none;
}

header li {
    display: inline-block;
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.25rem;
}

header .icons i,
header .icons a {
    cursor: pointer;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: #202020;
    border-radius: 100%;
}

header .icons li:hover {
    background-color: #eee;
}
