* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62, 5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem .8rem rgba(0, 0, 0, .1);
}

header .logo {
    position: relative;
    max-width: 15em;
}

header .navbar a {
    font-size: 1.3rem;
    margin: 0 1.5em;
    color: #202020;
    position: relative;
}

header .navbar a::before {
    content: '';
    background-color: #202020;
    position: absolute;
    bottom: -.2em;
    left: 0;
    height: 2px;
    width: 0;
    border-radius: 50% 50% 50% 50%;
}

header .navbar a:hover::before {
    width: 100%;
    transition: width 0.3s ease-out;
}

header ul {
    list-style-type: none;
}

header li {
    display: inline-block;
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.25rem;
}

header .icons i,
header .icons a {
    cursor: pointer;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: #202020;
    border-radius: 100%;
}

header .icons li:hover {
    background-color: #eee;
}

#gotopbtn {
    position: fixed;
    width: 4rem;
    height: 4rem;
    background: #231278;
    bottom: 40px;
    right: 50px;
    border-radius: 50%;

    text-decoration: none;
    text-align: center;
    line-height: 3.75rem;
    color: whitesmoke;
    font-size: 2rem;
}

/* FOOTER */
footer {
    margin-top: 10rem;
}

footer .container {
    background-color: #231278;
}

footer .row {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 10rem;
}

.footer_col ul {
    list-style-type: none;
}

.footer_col h4 {
    color: white;
    position: relative;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.footer_col h4::before {
    content: '';
    width: 8rem;
    height: 2px;
    position: absolute;
    background-color: #d74d0d;
    bottom: -0.5rem;
}

.footer_col ul li {
    padding: 1rem 0;
    color: white;
}

.footer_col ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.7;
    transition: 0.5s;
}

.footer_col ul li a:hover {
    opacity: 1;
}

.footer_col input,
textarea {
    width: 400px;
    height: 40px;
    display: block;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.footer_col .inputSubmit {
    padding: 0;
}

.footer_col textarea {
    padding-top: 0.75rem;
    height: 135px;
}