* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html {
    font-size: 62, 5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

main {
    margin-top: 10rem;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem .8rem rgba(0, 0, 0, .1);
}

header .logo {
    position: relative;
    max-width: 15em;
}

header .navbar a {
    font-size: 1.3rem;
    margin: 0 1.5em;
    color: #202020;
    position: relative;
}

header .navbar a::before {
    content: '';
    background-color: #202020;
    position: absolute;
    bottom: -.1em;
    left: 0;
    height: 2px;
    width: 0;
    border-radius: 50% 50% 50% 50%;
}

header .navbar a:hover::before {
    width: 100%;
    transition: width 0.3s ease-out;
}

header ul {
    list-style-type: none;
}

header li {
    display: inline-block;
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.25rem;
}

header .icons i,
header .icons a {
    cursor: pointer;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: #202020;
    border-radius: 100%;
}

header .icons li:hover {
    background-color: #eee;
}

#gotopbtn {
    position: fixed;
    width: 4rem;
    height: 4rem;
    background: #231278;
    bottom: 40px;
    right: 50px;
    border-radius: 50%;

    text-decoration: none;
    text-align: center;
    line-height: 3.75rem;
    color: whitesmoke;
    font-size: 2rem;
}

header .btn_active {
    border-bottom: 2.25px solid #202020;
    transition: 0.5s ease;
}

/* FOOTER */
footer {
    position: sticky;
    top: 100%;
}

footer .container {
    background-color: #231278;
}

footer .row {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 10rem;
}

.footer_col ul {
    list-style-type: none;
}

.footer_col h4 {
    color: white;
    position: relative;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.footer_col h4::before {
    content: '';
    width: 8rem;
    height: 2px;
    position: absolute;
    background-color: #d74d0d;
    bottom: -0.5rem;
}

.footer_col ul li {
    padding: 1rem 0;
    color: white;
}

.footer_col ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.7;
    transition: 0.5s;
}

.footer_col ul li a:hover {
    opacity: 1;
}

.footer_col input,
textarea {
    width: 400px;
    height: 40px;
    display: block;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.footer_col .inputSubmit {
    padding: 0;
    background-color: #d74d0d;
    color: whitesmoke;
    cursor: pointer
}

.footer_col .inputSubmit:hover {
    background-color: whitesmoke;
    color: #060606;
}

.footer_col textarea {
    padding-top: 0.75rem;
    height: 135px;
}

/* SIGN IN */
.si-content {
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.si-image {
    float: right;
    width: 40em;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    margin: auto;
}

.si-content .logo {
    padding-bottom: 5em;
}

.si-form-box {
    float: left;
    width: 50em;
    height: 100%;
    position: relative;
    background: #fff;
    padding: 50px 30px;
    box-shadow: 0 .5rem .8rem rgba(0, 0, 0, .1);
}

.si-button-box {
    width: 20em;
    margin: 20px auto;
    position: relative;
    box-shadow: 0 0 10px 2px #dc9d9dd2;
    border-radius: 30px;
}

.si-toggle-btn {
    padding: 10px 4em;
    cursor: pointer;
    background: transparent;
    border: 0;
    position: relative;
    color: #fff;
}

#si-btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #b52f2fd2, #3721a8);
    border-radius: 30px;
    transition: .5s;
}

#su-btn {
    top: 0;
    right: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #b52f2fd2, #3721a8);
    border-radius: 30px;
    transition: .5s;
}

.inputgr {
    padding-top: 20px;
    margin-left: 10.5em;
    width: 25em;
    transition: .5s;
}

.si-input-box {
    box-shadow: 0rem 0rem .5rem .2rem rgba(8, 8, 8, 0.1);
    margin: 15px;
    padding: 10px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
}

.si-input-box span {
    margin-right: .4em;
}

.si-input-box img {
    width: 60%;
}

.si-input-box input {
    padding-left: 1.25rem;
}

.si-input {
    width: 85%;
    padding: 10px 0;
    outline: none;
    background: transparent;
    border-left: 1px solid;
}

.si-submit-box {
    border: 1px solid #eee;
    margin: 15px;
    padding: 15px;
    background: #eee;
    border-radius: 4px;
    cursor: pointer;
}

.si-submit-box:hover {
    background: #c1c1c1;
}

.si-submit-btn {
    outline: none;
    background: transparent;
    font-size: 1rem;
}

#su-inputgr {
    left: 450px;
}

.su-box {
    display: flex;
    flex-direction: row;
}

.su-input-box {
    margin: 20px auto;
    position: relative;
    outline: none;
}

.su-input-box img {
    width: 50%;
    margin: 1rem;
}

.su-input-box i {
    font-size: 2rem;
    margin: 1rem;
}

.su-btn {
    background: transparent;
    box-shadow: 0rem 0rem .5rem .2rem rgba(8, 8, 8, 0.1);
    width: 10em;
    height: 10em;
    border-radius: 4px;
    padding: 1rem 1rem 1.5rem 1rem;
    cursor: pointer;
}

.su-btn p {
    font-size: 1rem;
}

/* Courses Page */

.cp-contents {
    min-height: 100vh; 
    padding-bottom: 4em;
}

.cp-contents h1 {
    padding-top: 10rem;
    font-size: 2rem;
    padding-left: 21em;
}

.cp-box-containe {
    padding-left: 4.5em;
}

.cp-box-container h5 {
    font-size: 1.5em;
    margin-left: 3.5em;
    padding-bottom: .5em;
    padding-top: 3em;
}

.cp-box-container hr {
    border: 0;
    clear: both;
    width: 90%;
    background-color: #c5c5c5;
    height: 1px;
    margin-left: 4.5em;
}

#cp-search-buttons {
    margin-left: 4.5em;
}

#cp-search-buttons button {
    border: 2px solid #9e9e9e;
    margin-top: 1em;
    padding: 1em 2em;
    background-color: transparent;
    color: #9e9e9e;
    cursor: pointer;
}

#cp-search-buttons button:hover {
    background-color: #9e9e9e;
    color: #eee;
}

.sp-product-container{
    margin-left: 4.5em;
    margin-top: 2em;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.sp-card-wrapper {
    display: grid;
    cursor: pointer;
    grid-auto-flow: column;
    grid-auto-columns: calc((100%/4) - 30px);
}

#cp-box1 .arrow-btn {
    height: 45px;
    width: 45px;
    cursor: pointer;
    position: absolute;
    top: 70%;
    transform: translateY(-70%);
}

#cp-box2 .arrow-btn {
    height: 45px;
    width: 45px;
    cursor: pointer;
    position: absolute;
    top: 140%;
    transform: translateY(-140%);
}

.sp-slide-container .arrow-btn:first-child {
    left: 45px;
}

.sp-slide-container .arrow-btn:last-child {
    right: 45px;
}

.sp-card {
    box-shadow: 0rem 0rem .5rem .2rem rgba(8, 8, 8, 0.1);
    border-radius: 5px;
    padding: 1em;
    width: 20em;
}

.sp-image-box {
    height: 150px;
}

.sp-image-box img {
    height: 100%;
    border-radius: 1px;
    width: 100%;
}

.sp-product-details h6 {
    padding-top: 1rem;
    font-size: 1em;
}

.sp-product-require ul {
    list-style-type: none;
    font-size: .8em;
    padding-top: .5rem;
}

.sp-product-require ul li {
    padding-top: .5rem;
    height: 2em;
}

.sp-product-require ul li img {
    width: 1rem;
    margin-bottom: -.2em;
}

.sp-product-btn {
    background: #e9e9e9;
    width: 15em;
    margin-top: 1rem;
    height: 3em;
    border-radius: 4px;
    cursor: pointer;
    font-size: .7em;
    font-weight: bold;
    transition: 0.5s;
}

.sp-product-btn:hover {
    background-color: #c1c1c1;
}

@media screen and (max-width: 1300px) {
    .sp-card-wrapper {
        grid-auto-columns: calc((100%/3) - 30px);
    }  
}

@media screen and (max-width: 1100px) {
    .sp-card-wrapper {
        grid-auto-columns: calc((100%/2) - 50px);
    }  
}

@media screen and (max-width: 760px) {
    .sp-card-wrapper {
        grid-auto-columns: calc((100%) - 20px);
    }  
}

/* CANDIDATE PROFILE PAGE */

/* ALL LINK */
.profilelink {
    text-decoration: underline;
}

/* SPAN */
.cpp-span {
    color: #777;
}

/* CPP HEADING */
.cpp-heading {
    text-align: center;
}

/* CPP MAIN CONTENT */

/* CPP BASIC INFORMATION */
.cpp-bie-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 3rem;
}

.cpp-bi-container {
    flex: 1;
    border-radius: 4px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.cpp-e-container {
    flex: 2;
    border-radius: 4px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08);
    padding: 2rem;
}

/* CPP BI HEADLINE */
.cpp-bi-headline-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.cpp-bi-headline-profileimg {
    flex: 1;
}

.cpp-bi-headline-profileimg img {
    width: 100%;
}

.cpp-bi-headline-headline {
    flex: 2;
}

.cpp-bi-headline-headline img {
    width: 1rem;
}

/* CPP BI PERSONAL INFORMATION */
.cpp-title {
    display: flex;
    justify-content: space-between;
}

.cpp-bi-personalinfo-content-edubg {
    padding-left: 3rem;
    color: #777;
}

hr {
    border: solid 0.5px #777;
}

/* CPP E SKILLS */
.cpp-bi-skills-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cpp-e-skills-content p {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.25rem 0.25rem 0.25rem 0;
    border-radius: 100px;
    border: 1px solid #777;
    color: #777;
}

/* CPP E WORKING EXPERIENCE */
.cpp-e-workingexp-work h4, .cpp-e-workingexp-work h5 {
    font-weight: bold;
}

.cpp-e-workingexp-work-desc {
    padding-left: 2rem;
    color: #777;
}

/* CPP COURSES */
.cpp-course-container, .cpp-jobapp-container, .cpp-intsche-container {
    margin: 0 3rem 3rem 3rem;
}

/* SLIDER */
#slider-container {
    margin: 0 3rem;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

#slider-container .btn {
   position: absolute;
   top: calc(50% - 5px);
   height: 15px;
   width: 15px;
   border-left: 8px solid #696969;
   border-top: 8px solid #696969;
   cursor: pointer;
}

#slider-container .btn:hover {
   transform: scale(1.2);
}

#slider-container .btn.inactive {
   border-color: #282828
}

#slider-container .btn:first-of-type {
   transform: rotate(-45deg);
   left: 10px
}

#slider-container .btn:last-of-type {
   transform: rotate(135deg);
   right: 10px;
}

#slider-container #slider {
   display: flex;
   gap: 30%;
   transition: all .5s;
}

#slider-container #slider .slide {
   margin: auto 10px;
   border-radius: 5px;
   box-shadow: 2px 2px 4px 2px white, -2px -2px 4px 2px white;
   display: grid;
   place-items: center;
}

@media only screen and (min-width: 1100px) {
   #slider-container #slider .slide {
       width: calc(2.5% - 20px);
   }
}
@media only screen and (max-width: 1100px) {
   #slider-container #slider .slide {
       width: calc(3.3333333% - 20px);
   }
}
@media only screen and (max-width: 900px) {
   #slider-container #slider .slide {
       width: calc(5% - 20px);
   }
}
@media only screen and (max-width: 550px) {
   #slider-container #slider .slide {
       width: calc(10% - 20px);
   }
}
